<div class="mx-3 my-1">
    <!-- ヒーローエリア -->
    <section class="hero">
        <h2>ゴミの「見える化」</h2>
        <h3>一人一人がゴミと向き合う生活へ</h3>
    </section>

    <!-- マップエリア -->
    <div class="my-3">
        <%= render 'static_pages/map' %>
    </div>

    <!-- 円グラフ -->
    <div class="mx-3 my-3"> 
        <div class="row" style="object-fit:cover;">
            <div class="col-md-2"></div>
            <%= render 'static_pages/postchart' %>
            <div class="col-md-2"></div>
            <%= render 'static_pages/categorychart' %>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- ランキング -->
    <div class="my-3">
        <%= render 'static_pages/ranking' %>
    </div>

    <!-- 最新投稿 -->
    <div class="my-3">
        <%= render 'static_pages/recentry' %>
    </div>
</div>