<div class="d-flex justify-content-center  mt-5">
  <div class="card shadow" style="width: 26rem">
    <div class="card-body">
        <h1 class="text-center card-title">アカウント編集</h1>
        <%= form_with(model: @user) do |f| %>
            <%= render 'shared/error_messages' %>

            <div class="my-3">
            <%= f.text_field :name, placeholder: "名前", class: "form-control w-100" %>
            </div>
            
            <div class="my-3">
            <%= f.text_field :email, placeholder: "メール", class: "form-control w-100" %>
            </div>

            <div class="my-3">
            <%= f.password_field :password, placeholder: "パスワード", class: "form-control w-100" %>
            </div>

            <div class="my-3">
            <%= f.password_field :password_confirmation, placeholder: "パスワード確認", class: "form-control w-100" %>
            </div>

            <%= f.submit "アカウント編集", class: "btn btn-primary w-100" %>
        <% end %>
    </div>
  </div>
</div>
