

<h1 class="my-3 mx-3">👤マイページ</h1>

<div class="my-5 mx-3">
    <h2>アカウント情報</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>名前</td>
                <td><%= @user.name %></td>
            </tr>
            <tr>
                <td>メールアドレス</td>
                <td><%= @user.email %></td>
            </tr>
        </tbody>
    </table>
    <%= link_to "アカウント情報の編集", edit_user_path(current_user) %>
</div>



<div class="my-5 mx-3">
    <h2>📸投稿</h2>
        <div class="row">
            <div style="display: grid; justify-items: center; align-content: center;">
                <%= paginate @post, theme: 'bootstrap-5'%>
            </div>

            <% @post.each do |post| %>
                <div class="col-md-4">
                    <div class="card mx-3 my-3" style="">
                        <% if post.image.attached? %>
                            <%= image_tag post.image, size: "",  class: "d-block mx-auto img-fluid ", style: "width: 100%; height: 200px; object-fit:cover;" %><br>
                        <% else %>
                            <img src="http://placehold.jp/150x150" class="d-block mx-auto img-fluid" style="width: 100%; height: 200px; object-fit:cover;"><br>
                        <% end %>

                        <div class="mx-1 my-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><%= post.created_at %></li>
                                <li class="list-group-item">ユーザー：<%= post.user.name %></li>
                                <li class="list-group-item">カテゴリ：<%= post.category.g_type %></li>
                                <li class="list-group-item">地域　　：<%= post.point %></li>
                                <li class="list-group-item"><%= post.description.slice(0,20) %>...</li>

                                <%= render partial: 'layouts/favo', locals: {post: post} %>
                                <% if current_user.admin? || current_user?(@user) %>
                                    <%= link_to "削除", user_post_path(user_id: current_user, id: post.id), data: { "turbo-method": :delete,
                                                            turbo_confirm: "You sure?" } %>
                                <% end %>
                                <%= link_to "詳細", user_post_path(user_id: current_user, id: post.id), class: "btn btn-primary" %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>

            <div style="display: grid; justify-items: center; align-content: center;">
                <%= paginate @post, theme: 'bootstrap-5'%>
            </div>
        </div>
</div>

