

<h1 class="my-3 mx-3">­ЪЉцсЃъсѓцсЃџсЃ╝сѓИ</h1>

<div class="my-5 mx-3">
    <h2>сѓбсѓФсѓдсЃ│сЃѕТЃЁта▒</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>тљЇтЅЇ</td>
                <td><%= @user.name %></td>
            </tr>
            <tr>
                <td>сЃАсЃ╝сЃФсѓбсЃЅсЃгсѓ╣</td>
                <td><%= @user.email %></td>
            </tr>
        </tbody>
    </table>
    <%= link_to "сѓбсѓФсѓдсЃ│сЃѕТЃЁта▒сЂ«уиежЏє", edit_user_path(current_user) %>
</div>



<div class="my-5 mx-3">
    <h2>­ЪЊИТіЋуе┐</h2>
        <div class="row">
            <% @post.each do |post| %>
                <div class="col-md-4">
                    <div class="card mx-3 my-3" style="">
                        <% if post.image.attached? %>
                            <%= image_tag post.image, size: "",  class: "d-block mx-auto img-fluid ", style: "width: 100%; height: 200px; object-fit:cover;" %><br>
                        <% else %>
                            <img src="http://placehold.jp/150x150"><br>
                        <% end %>

                        <div class="mx-1 my-3">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">сѓФсЃєсѓ┤сЃф№╝џ<%= post.category.g_type %></li>
                                <li class="list-group-item"><%= post.description %></li>

                                <%= link_to "тЅіжЎц", user_post_path(user_id: current_user, id: post.id), data: { "turbo-method": :delete,
                                                        turbo_confirm: "You sure?" } %>
                                <%= link_to "УЕ│у┤░", user_post_path(user_id: current_user, id: post.id), class: "btn btn-primary" %>
                            </ul>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
</div>

