<div class="mx-3 my-1">
    <h1>投稿一覧</h1>
    <div class="my-5 mx-3">
        <h2>📸投稿</h2>
            <div class="row">
                <% @post.each do |post| %>
                    <div class="col-md-4">
                        <div class="card mx-3 my-3" style="">
                            <% if post.image.attached? %>
                                <%= image_tag post.image, size: "",  class: "d-block mx-auto img-fluid", style: "width: 100%; height: 200px; object-fit:cover;" %><br>
                            <% else %>
                                <img src="http://placehold.jp/150x150" class="d-block mx-auto img-fluid" style="width: 100%; height: 200px; object-fit:cover;"><br>
                            <% end %>

                            <div class="mx-1 my-3">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><%= post.created_at %></li>
                                    <li class="list-group-item">ユーザー：<%= post.user.name %></li>
                                    <li class="list-group-item">カテゴリ：<%= post.category.g_type %></li>
                                    <li class="list-group-item">地域　　：<%= post.point %></li>
                                    <li class="list-group-item"><%= post.description.slice(0,20) %>...</li>
                                </ul>

                                <% if post.favorited_by?(current_user, post) %>
                                    <p>
                                        <span>
                                            お気に入り解除: 
                                        </span>
                                        <%= link_to post.favorites.count, user_post_favorites_path(user_id: current_user, post_id: post.id), data: { "turbo-method": :delete } %>
                                    </p>
                                <% else %>
                                    <p>
                                        <span>
                                            お気に入り登録: 
                                        </span>
                                        <%= link_to post.favorites.count, user_post_favorites_path(user_id: current_user, post_id: post.id), data: { "turbo-method": :post } %>
                                    </p>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
    </div>
</div>