<div>
    <% if @post.image.attached? %>
      <%= image_tag @post.image, size: "150x150" %><br>
    <% else %>
      <img src="http://placehold.jp/150x150"><br>
    <% end %>
</div>

<div>
    ポスト内容
    <%= @post.description %>
</div>

<div>
    ポストに対するコメント
    <% @comment.each do |comment| %>
        <div>
            user_id :
            <%= comment.user_id %>
            , post_id :
            <%= comment.post_id %>
            , comment :
            <%= comment.comment %>
        </div>
    <% end %>
</div>

<%= link_to "コメントを追加",  new_user_post_comment_path(user_id: @user, post_id: @post) %>
