<div class="card mx-3 my-3" style="">
    <div class="row g-0">
        <div class="col-md-4">
            <div>
                <% if @post.image.attached? %>
                <%= image_tag @post.image, style: "width: 300px;  object-fit:cover;" %><br>
                <% else %>
                <img src="http://placehold.jp/150x150"><br>
                <% end %>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card-body">
                <h5>投稿</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@<%= link_to @post.user.name, user_path(@post.user.id) %></li>
                    <li class="list-group-item"><%= @post.point %></li>
                    <li class="list-group-item"><%= @post.description %></li>
                    <li class="list-group-item"><%= @category.g_type %></li>
                    <li class="list-group-item"><%=image_tag("like_on.png", size: '24x24', class: "mb-1")%>：<%= @post.favorites.count %></li>

                </ul>
                <div class="my-3">
                    <h5>コメント</h5>
                    <div class="overflow-auto" style="height:150px;">
                        <ul class="list-group list-group-flush">
                        <% @comment.each do |comment| %>
                            <li class="list-group-item">
                                @<%= link_to comment.user.name, user_path(@post.user.id) %>
                                <br>
                                <%= comment.comment %>
                                <% if comment.user == current_user %>
                                    <%= link_to "削除", user_post_comment_path(user_id: current_user, post_id: @post, id: comment), data: { "turbo-method": :delete,
                                    turbo_confirm: "You sure?" } %>
                                <%end%>
                            </li>
                        <% end %>
                        </ul>
                    </div>
                </div>
            
                <%= form_with(url: user_post_comments_path(@user, @post)) do |f| %>
                    <%= f.text_field :comment, placeholder: "コメント" %>
                    <%= f.submit "post" %>
                <% end %>
            </div>
        </div>
    </div>
<div>

<div id='map'></div>
<style>
    #map{
        height: 300px;
    }
</style>

<script>
    var map_lng
    var marker

    function initMap(){
        console.log(gon.point)
        if (gon.point[0] != null){
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: gon.point[0], lng: gon.point[1]},
                zoom: 8
            });
        }
        if (gon.point[0] != null){
            position = {lat: gon.point[0], lng: gon.point[1]}
            marker = new google.maps.Marker({
                position: position,
                map: map,
            });
        }
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
