

<div class="card mx-3 my-3" style="">
    <div class="row g-0">
        <div class="col-md-4">
            <div>
                <% if @post.image.attached? %>
                <%= image_tag @post.image, style: "width: 300px;  object-fit:cover;" %><br>
                <% else %>
                <img src="http://placehold.jp/150x150"><br>
                <% end %>
            </div>
        </div>
        
        <div class="col-md-8">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><%= @post.point %></li>
                    <li class="list-group-item"><%= @post.description %></li>
                    <li class="list-group-item"><%= @post.category.g_type %></li>
                </ul>
                <div>
                    コメント：
                    <ul class="list-group list-group-flush">
                    <% @comment.each do |comment| %>
                            <li class="list-group-item">@<%= comment.user.name %><br><%= comment.comment %></li>
                    <% end %>
                    </ul>
                </div>
                <%= link_to "コメントを追加",  new_user_post_comment_path(user_id: @user, post_id: @post) %>
            </div>
        </div>
    </div>
<div>